* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: TTLakes;
    src: url(./fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: TTLakesBold;
    src: url(./fonts/TTLakes-Bold.woff);
}

body {
    font-family: TTLakes;
    width: 100%;
    background-color: #fff;
}

.container {
    width: 320px;
    height: 1024px;
    box-shadow: 5px 0px 20px rgba(125, 144, 163, 0.5);
}

.header {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.header__icon--space {
    margin-left: 60px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 15vh;
}

.sidebar__option {
    padding: 7px 20px 7px;
}

.sidebar__option:hover {
    color: #616464;
    border-left: 4px solid #41F6D7;
    cursor: pointer;
}

.main__option {
    display: flex;
    padding-left: 20px;
    gap: 20px;
    margin-bottom: 15px;
}

.footer__mail {
    padding-left: 20px;
    margin-bottom: 15px;
}

.footer__number {
    font-family: TTLakesBold;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.language {
    display: flex;
    gap: 15px;
    font-weight: bold;
    padding-left: 20px;
}

.language__choice--ru {
    color: #616464;
}

.header__icon--hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__icon:hover {
    cursor: pointer;
}

.option__icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.language__choice {
    cursor: pointer;
}